body {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-family: 'Lobster', cursive;
    ;
}

.toast {
    margin-left: 350px;
    margin-top: -150px;
    position: relative;
}




@media only screen and (max-width: 768px) and (min-width: 350px) {
    .carousel-item img {
        height: 500px;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .toast {
        position: fixed;
    }
}